# Optionally set a default homeserver.
# If set, the login page won't display a server name input and
# uses the configured server name instead.
REACT_APP_HOMESERVER=example.com  # use the server name (domain part of the matrix user ID)

# The base url used for the widget instance in the room
REACT_APP_WIDGET_BASE=https://neoboard.example.com

# All NeoBoard configuration options also apply here.
# We specifically set NeoBoard to embedded mode.
REACT_APP_EMBEDDED=true

# The name of the product to be displayed.
REACT_APP_PRODUCT_NAME=NeoBoard

# An appearance to be shown. Either `neoboard` or `opendesk`.
REACT_APP_APPEARANCE=neoboard

REACT_APP_FAVICON_16=
REACT_APP_FAVICON_32=
REACT_APP_APPLE_TOUCH_ICON=

# A primary palette color for the light theme.
REACT_APP_LIGHT_PRIMARY_COLOR='#e85e10'

# A primary palette light color for the light theme.
REACT_APP_LIGHT_PRIMARY_COLOR_LIGHT='#ff8a42'

# A primary palette dark color for the light theme.
REACT_APP_LIGHT_PRIMARY_COLOR_DARK='#b52e00'

# A background when user is logged in.
REACT_APP_LIGHT_BACKGROUND_LOGGED_IN='#fcf9f3'

# A card background when a board is created.
REACT_APP_LIGHT_BACKGROUND_CARD='#fce2cf'

# Required `opendesk` banner configuration variables
REACT_APP_OPENDESK_BANNER_ICS_NAVIGATION_JSON_URL=
REACT_APP_OPENDESK_BANNER_ICS_SILENT_URL=
REACT_APP_OPENDESK_BANNER_PORTAL_URL=
REACT_APP_OPENDESK_BANNER_PORTAL_LOGO_SVG_URL=

# Optional `opendesk` banner configuration variables
REACT_APP_OPENDESK_BANNER_APP_HOME_ICON_SVG_URL=
REACT_APP_OPENDESK_BANNER_PORTAL_LOGO_WIDTH='120px'
REACT_APP_OPENDESK_BANNER_TEXT_ACTION_ACCENT='#EEEFF2'
REACT_APP_OPENDESK_BANNER_COLOR_TEXT_PRIMARY='#1b1d22'
REACT_APP_OPENDESK_BANNER_TEXT_PRIMARY_HOVER='#1b1d22'
REACT_APP_OPENDESK_BANNER_TEXT_PRIMARY_ACTIVE='#ffffff'

REACT_APP_OPENDESK_BANNER_HEIGHT='60px'
REACT_APP_OPENDESK_BANNER_BACKGROUND_COLOR='#ffffff'
REACT_APP_OPENDESK_BANNER_BACKGROUND_COLOR_HOVER='#f5f8fa'
REACT_APP_OPENDESK_BANNER_BACKGROUND_COLOR_ACTIVE='#571EFA'

REACT_APP_OPENDESK_BANNER_BORDER_BOTTOM='1px solid #d3d7de'
