apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "app.fullname" . }}
  labels:
{{ include "app.labels" . | indent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "app.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.serviceAccountName }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            {{- if .Values.env }}
              {{- toYaml .Values.env | nindent 12 }}
            {{- end }}
          volumeMounts:
          - name: cache-volume
            mountPath: /var/cache/nginx
          - name: tmp-volume
            mountPath: /tmp
          {{- if .Values.custom_csp_headers }}
          - name: csp-config
            mountPath: /etc/nginx/conf.d/custom/content-security-policy.conf
            subPath: content-security-policy.conf
            readOnly: true
          {{- end }}
          {{- if .Values.opendesk_navigation }}
          - name: opendesk-navigation
            mountPath: /usr/share/nginx/html/navigation.json
            subPath: navigation.json
            readOnly: true
          {{- end }}
          {{- if .Values.opendesk_silent }}
          - name: opendesk-navigation
            mountPath: /usr/share/nginx/html/silent.html
            subPath: silent.html
            readOnly: true
          {{- end }}
      volumes:
      - name: cache-volume
        emptyDir: {}
      - name: tmp-volume
        emptyDir: {}
      {{- if .Values.custom_csp_headers }}
      - name: csp-config
        configMap:
          name: {{ include "app.name" . }}-cm
      {{- end }}
      {{- if and .Values.opendesk_navigation .Values.opendesk_silent }}
      - name: opendesk-navigation
        configMap:
          name: {{ include "app.name" . }}-od-cm
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
